jmnode {
    box-shadow: 0px 0px;
    max-width: none;
}

jmnode:hover {
    box-shadow: 0px 0px;
    background-color: rgb(209, 223, 240) !important;
    color: rgb(86, 126, 188) !important;
    z-index: 4;
}

jmnode:hover .node-tooltip {
    display: inline-block;
    max-width: 400px;
}

.node-tooltip {
    display: none;
    width: 100%;
    word-break: break-word;
    white-space: normal;
}

.node-description {
    color: gray;
    font: 16px/1.125 Verdana, Arial, Helvetica, sans-serif;
}

.node-link:hover {
    text-decoration: underline;
}